.current-menu-item a,
.um-field-checkbox-state i,
.um-field-checkbox
{
  color: #ff3370
}

.current-menu-item:hover a
{
  color: white
}

::placeholder
{
	color: #ff3370;
  font-weight: bold
}
#main
{
	padding: 0px
}


.vantage-grid-loop article .grid-thumbnail
{
	padding: 0px;
  border-style: none;
  
}
.vantage-grid-loop article .grid-thumbnail:hover
{
  box-shadow: none  
}

@media (max-width: 480px)
{
  body.responsive .vantage-grid-loop article, body.responsive .vantage-circleicon-loop .widget_circleicon-widget
  {
      float: left;
      width: 50%;
  }
}